---json
{
  "permalink": "feed.xml",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "evolved systems",
    "subtitle": "This is the personal blog of Rafał Hirsz. Read about all the things I've done and all the thoughts I had.",
    "url": "https://evolved.systems/",
    "feedUrl": "https://evolved.systems/feed.xml",
    "author": {
      "name": "Rafał Hirsz",
      "email": "evol@evolved.systems"
    }
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.subtitle }}</subtitle>
  <link href="{{ metadata.feedUrl }}" rel="self"/>
  <link href="{{ metadata.url }}"/>
  <updated>{{ collections.posts | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ metadata.url }}</id>
  <author>
    <name>{{ metadata.author.name }}</name>
    <email>{{ metadata.author.email }}</email>
  </author>
  {%- for post in collections.posts %}
  {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset %}
  <entry>
    <title>{{ post.title }}</title>
    <summary>{{ post.summary }}</summary>
    <link href="{{ absolutePostUrl }}"/>
    <updated>{{ post.updatedDate | dateToRfc3339 }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content type="html">
    <![CDATA[
      {{ post.html | htmlToAbsoluteUrls(absolutePostUrl) | safe }}
      <p><a href="https://matrix.to/#/{{post.roomAlias}}" target="_blank">Discuss this post on Matrix</a></p>
    ]]>
    </content>
  </entry>
  {%- endfor %}
</feed>