// Base colors
$brown: #1c1606;
$blue: #339ddc;
$teal: #20635f;
$orange: #8f6009;
$yellow: #fab119;
$green: #a3c683;
$red: #f2d4d3;

// Derived color palettes -- use those!
$brown-900: $brown;
$brown-800: #3c3629;
$brown-500: #978f80;
$brown-50: #fff7e7;

$blue-600: $blue;

$teal-900: $teal;
$teal-600: #2cb0b7;

$orange-900: $orange;
$orange-800: #b3840f;
$orange-700: #c89912;
$orange-600: #dead16;
$orange-500: #eebe18;
$orange-50: #fff7e3;

$green-600: #70a147;
$green-300: $green;
$green-50: #eff5e9;

$yellow-900: #f87210;
$yellow-800: #f99014;
$yellow-600: $yellow;
$yellow-50: #fef8e2;

$red-50: $red;

:root {
  --color-bg: #fff;
  --color-fg: #{$brown-900};
  --color-light-fg: #{$brown-500};
  --color-border: #{$red-50};
  --color-link: #{$blue-600};
  --color-focused-link: #{$teal-600};
  --color-heading: #{$orange-900};
  --color-focused-heading: #{$orange-700};
  --color-date: #{$orange-700};
  --color-focused-date: #{$orange-600};
  --color-action: #{$green-600};
  --color-focused-action: #{$orange-900};
  --color-flourish1: #{$teal-600};
  --color-flourish2: #{$yellow-600};
  --color-year: #{$red-50};
  --color-code-bg: #{$green-50};
  --color-code-fg: #{$brown-800};
}
