:root {
  --space-2xs: #{0.5 * 1rem};
  --space-xs: #{0.75 * 1rem};
  --space-s: #{1 * 1rem};
  --space-m: #{1.5 * 1rem};
  --space-l: #{2 * 1rem};
  --space-xl: #{3 * 1rem};
  --space-2xl: #{4 * 1rem};
  --space-3xl: #{6 * 1rem};
}
