<!-- button.njk -->
<div class="button-container">
  <a href="https://main.stopbot.pp.ua" target="_blank">
    <img src="https://2073.pp.ua/img/instrumenty.svg" alt="Інструменти майстра" class="button-image">
  </a>
</div>

<style>
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
  }

  .button-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
  }

  .button-image:hover {
    transform: scale(1.1);
  }
</style>