<div class="search-button align-icon" onclick="window.open('https://2073.pp.ua', '_blank')">
    <span class="search-icon">
        <i icon-name="link" ></i>
    </span>
    <span class="search-text">
        <span>Твоя база знань</span>
    </span>
</div>
