   <script src="https://cdn.jsdelivr.net/gh/davidshimjs/qrcodejs/qrcode.min.js"></script>
<div id="qrcode1"></div>
<script type="text/javascript">
  var qrcode = new QRCode(document.getElementById("qrcode1"), {
    text: "https://dg.stopbot.pp.ua/{{ page.url | replace('/', '', true) }}",
    width: 110,
    height: 110,
    colorDark : "#284B63",
    colorLight : "#FAF8F8",
    correctLevel : QRCode.CorrectLevel.L
  });