<div id="qrcode"></div>
<script type="text/javascript">
  var qrcode = new QRCode(document.getElementById("qrcode"), {
    text: "https://dg.stopbot.pp.ua/{{ page.url | replace('/', '', true) }}",
    width: 110,
    height: 110,
    colorDark : "#284B63",
    colorLight : "#FAF8F8",
    correctLevel : QRCode.CorrectLevel.L
  });
</script>
  </div>