<div class="responsive-iframe-container">
  <iframe src="http://ngnx.m-e.pp.ua/mblog/live.html#conduit.m-e.pp.ua/!lMIAhjqRbWbpQaTJKy%3Aconduit.m-e.pp.ua" frameborder="0" allowfullscreen></iframe>
</div>