<div class="responsive-iframe-container">
  <iframe src="https://ngnx.m-e.pp.ua/mblog/live.html#conduit.m-e.pp.ua/!lMIAhjqRbWbpQaTJKy%3Aconduit.m-e.pp.ua" frameborder="0" allowfullscreen></iframe>
</div>
<div class="blog">
<link rel="stylesheet" type="text/css" href="https://ngnx.m-e.pp.ua/mblog/matrix-live.css">
<matrix-live homeserver="https://conduit.m-e.pp.ua"
             room="!lMIAhjqRbWbpQaTJKy:conduit.m-e.pp.ua"
             initial-load="60"></matrix-live>
<script src="https://ngnx.m-e.pp.ua/mblog/matrix-live-min.js"></script>
</div>