<div class="fixed-iframe-container">
  <iframe src="http://ngnx.m-e.pp.ua/mblog/live.html#conduit.m-e.pp.ua/!lMIAhjqRbWbpQaTJKy%3Aconduit.m-e.pp.ua" width="320" height="640" frameborder="0" allowfullscreen></iframe>
</div>