<div x-init="isDesktop = (window.innerWidth >= 1400) ? true : false;" 
    x-on:resize.window="isDesktop = (window.innerWidth >= 1400) ? true : false;" 
    x-data="{isDesktop: true, showFilesMobile: false}">
    <div x-show.important="!isDesktop" style="display: none;">
        {% include "components/filetreeNavbar.njk" %}
    </div>

    <div x-show="showFilesMobile && !isDesktop" @click="showFilesMobile = false" style="display:none;" class="fullpage-overlay"></div>

    <nav class="filetree-sidebar" x-show.important="isDesktop || showFilesMobile" style="display: none;">
        {% for imp in dynamics.filetree.beforeTitle %}
            {% include imp %}
        {% endfor %}
        <a href="/" style="text-decoration: none;">
            <h1 style="text-align:center;">{{meta.siteName}}</h1>
        </a>
        <div class="container">
            <a href="https://main.stopbot.pp.ua" target="_blank">
                <img src="https://2073.pp.ua/img/instrumenty.svg" alt="Інструменти майстра" class="image">
            </a>
        </div>
        {% for imp in dynamics.filetree.afterTitle %}
            {% include imp %}
        {% endfor %}
        <div class="folder" x-data="{isOpen: true}">
            {%- for fileOrFolderName, fileOrFolder in filetree -%}
                {{menuItem(fileOrFolderName, fileOrFolder, 0, fileOrFolderName)}}
            {%- endfor -%}
        </div>
    </nav>
</div>