---
layout: layout.njk
eleventyComputed:
  title: "{{post.title}}"
  description: "{{post.summary}}"
---

<article class="post">
  <a href="{{post.url}}" class="post__date">
    <time datetime="{{post.date | isoDate}}">{{post.date | readableDate}}</time>
  </a>
  {% if post.editDate %}
  <span class="post__editdate">
    Edited on <time datetime="{{post.editDate | isoDate}}">{{post.editDate | readableDate}}</time>
  </span>
  {% endif %}

  <h1 class="post__title">{{post.title}}</h1>
  <p class="post__summary">{{post.summary}}</p>

  <div class="post__content">
    {{content | safe}}
  </div>
</article>

<section class="actions">
  <a href="https://matrix.to/#/{{post.roomAlias}}" class="discuss-btn" target="_blank">
    <span>Discuss this post on Matrix</span>
  </a>
</section>

<nav>
  {% if pagination.href.next %}
  <section class="nav nav--prev">
    <h6>Previous post</h6>
    <a href="{{pagination.href.next}}">{{pagination.page.next.title}}</a>
  </section>
  {% endif %}
  {% if pagination.href.previous %}
  <section class="nav nav--next">
    <h6>Next post</h6>
    <a href="{{pagination.href.previous}}">{{pagination.page.previous.title}}</a>
  </section>
  {% endif %}
</nav>
